body {
    background-color: #DADDD8;
}

.header{
    min-height: 150px;
    padding: 1px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #1C1C1C;
    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #FAFAFF;
    background-color: #1C1C1C;
}

.welcome_line{
    padding: 1px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #FAFAFF;
    background-color: #8d8d8d;
}

.welcome_line_end{
    padding: 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #FAFAFF;
    background-color: #8d8d8d;
}

.blog_page {
    background-color: #bec0bd;
    padding: 10px;
}

.blog_section{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FAFAFF;
}

.blog_section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    border:5px solid #1C1C1C;
}

.posts{
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;

    background-color: #EEF0F2;
}

.post{
    border-radius: 10px;
    box-sizing: border-box;

    background-color: #e9e7d9;

    margin-bottom:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.post img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.post h3{
    text-align: center;
    margin:5px;
    
}

.post p{
    text-align:left;
    margin:5px;
}

.post img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.options_list{

    width: 95%;

    display: flex;
    border-radius: 15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;

    background-color: #EEF0F2;
}

.option{
    border-radius: 10px;
    box-sizing: border-box;
    margin: 4px;

    background-color: #e9e7d9;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.option h3{
    text-align: center;
    margin:15px;
    
}

.option p{
    text-align:left;
    margin:20px;
}

.repair_screen{
    background-color: #8d8d8d;
    padding: 100px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.bottom{
    min-height: 75px;
    padding: 1px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: #1C1C1C;
    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #FAFAFF;
    background-color: #1C1C1C;
}

.bottom_round{
    min-height: 75px;
    padding: 1px;

    border-radius: 15px;
    border-color: #1C1C1C;
    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #FAFAFF;
    background-color: #1C1C1C;
}